@media screen and (max-width: 425px) and (max-height: 945px) {
    .logo {
        display: none;
    }
    .parent-link {
        font-size: 1.1rem;
        margin-right: 10px;
    }
    .social-links {
        padding: 0 1.1rem;
    }
    .sm-icon {
        font-size: 23px;
        padding: 0 2rem;
    }
    .form-bg { /* Form Background Design */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        height: 45vh;
        border-radius: 12px;
        backdrop-filter: blur(4px);
        box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 40px, rgba(0, 0, 0, 0.8) 0px 15px 12px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .background {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        height: 70vh;
    }
}